<div class="pokedex-search-container">
  <form action="/" method="GET" class="row g-3 align-items-center">
    <div class="col-12 col-md-6">
      <input type="text" name="search" class="form-control" placeholder="Hledat Pokémona...">
    </div>

    <div class="col-12 col-md-4">
      <select name="type" class="form-select">
        <option value="">Všechny typy</option>
        <option value="fire">Fire</option>
        <option value="water">Water</option>
        <option value="grass">Grass</option>
        <option value="electric">Electric</option>
      </select>
    </div>

    <div class="col-12 col-md-2">
      <button type="submit" class="btn btn-pokedex w-100">Hledat</button>
    </div>
  </form>
</div>